/dist/
/build/
/nbproject/
/nbproject/private/
/resources/desktop-deployment/
/*.so
/*.dll
*.gltf
*.glb
*.xcf
*.blend1
*.j3odata
/RaceGame/nbproject/private/
/ArcherGame/nbproject/private/
/jme3-core/nbproject/private/
